@model Auction.Models.CategoryModel

<h3>@App_LocalResources.GlobalRes.ТебеОноНадо </h3>
<h4>@App_LocalResources.GlobalRes.ПродуктыКатегорииУдалены</h4>
<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discription)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink(App_LocalResources.GlobalRes.Назад, "AdminPanel","AdminCabinet")
        </div>
    }
</div>
