@model IEnumerable<Auction.Models.ProductDTOModel>
@using System.Security.Claims
@{
    var claimsIdentity = User.Identity as ClaimsIdentity;
}
@{ 
    string url = Request.Url.ToString();
}

<p>
    <h3>@Html.ActionLink(App_LocalResources.GlobalRes.ДобавитьПродукт, "AddProduct", "Product")
        @Html.RouteLink(App_LocalResources.GlobalRes.Домашняя, new { controller = "Home", action = "Index", area = "" })
        @Html.ActionLink(App_LocalResources.GlobalRes.ВыбратьКатегорию, "GetCategorys", "Category")</h3>
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(App_LocalResources.GlobalRes.Название, "SortProductsName", "Product")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheRestOfTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Base64Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.СategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <h3>@Html.ActionLink(item.Name, "GetProduct", new { id = item.Id })</h3>
        </td>
        <td>
            @Html.DisplayFor(modellItem => item.TheRestOfTime.Days)d
            @Html.DisplayFor(modellItem => item.TheRestOfTime.Hours)h
            @Html.DisplayFor(modellItem => item.TheRestOfTime.Minutes)m
            @Html.DisplayFor(modellItem => item.TheRestOfTime.Seconds)s
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            <img src="data:image;base64,@item.Base64Picture" height="80" width="100"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.СategoryName)
        </td>
        <td>
            @Html.RouteLink(App_LocalResources.GlobalRes.СделатьСтавку, new { controller = "Bid", action = "CreateBid", area = "", @item.Id, url })
        </td>
        @if (User != null && User.Identity.IsAuthenticated && claimsIdentity.HasClaim(ClaimTypes.Role, "Admin") || claimsIdentity.HasClaim(ClaimTypes.Role, "Manager"))
        {
            <td>@Html.RouteLink(App_LocalResources.GlobalRes.ДатьДобро, new { controller = "Product", action = "ApproveProduct", area = "", @item.Id })</td>
            <td>@Html.RouteLink(App_LocalResources.GlobalRes.Удалить, new { controller = "Product", action = "DeleteProduct", area = "", @item.Id,url })</td>
            <td>@Html.RouteLink(App_LocalResources.GlobalRes.ПродлитьАукцион, new { controller = "AdminCabinet", action = "ExtendAuction", area = "", @item.Id, url })</td>
            <td>@Html.RouteLink(App_LocalResources.GlobalRes.Редактировать, new { controller = "Product", action = "EditProduct", area = "", @item.Id, url })</td>
        }
    </tr>
}

</table>
