@model IEnumerable<Auction.Models.ProductDTOModel>

@{
    ViewBag.Title = "ShowAllBannedProduct";
}

<h2>@App_LocalResources.GlobalRes.ВсеПродуктыBanned</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheRestOfTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Base64Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.СategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TheRestOfTime)
        </td>
        <td>
            <img src="data:image;base64,@item.Base64Picture" height="80" width="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.СategoryName)
        </td>
        <td>
            @Html.RouteLink(App_LocalResources.GlobalRes.ПродлитьАукцион, new { controller = "Cabinet", action = "ExtendAuction", area = "", @item.Id })
            @Html.RouteLink(App_LocalResources.GlobalRes.УдалитьПродукт, new { ccontroller = "Product", action = "DeleteProduct", area = "", @item.Id })
        </td>
    </tr>
}

</table>
